@using Microsoft.AspNet.Identity;
@using BrasaoHamburgueria.Web.Repository;
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
@{
    var tempoMedioEspera = ParametroRepository.GetTempoMedioEspera();
}
<script src="~/app/GerenciarPedidosForm/gpController.js"></script>
<div ng-controller="gpController" ng-init="init('@User.Identity.GetUserName()', '@GetAntiForgeryToken()', '@tempoMedioEspera')" class="centro">
    @Html.Partial("~/Views/Shared/_MensagensInformativas.cshtml")
    <div cg-busy="{promise:promisesLoader,backdrop:false,delay:10,minDuration:1000}"></div>
    <div cg-busy="{promise:promiseGravaPedido,backdrop:false,delay:10,minDuration:1000}"></div>
    <div cg-busy="{promise:promiseImprime,backdrop:false,delay:10,minDuration:1000}"></div>
    <audio id="play" src="~/Content/sounds/beep.wav"></audio>
    <form role="form" id="formPedido" class="form-inline">
        <div>
            <h4>Gerenciar pedidos</h4>
            <hr />
            <div class="row" style="margin-bottom: 10px">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-success" ng-click="novoPedidoExterno()">
                        <span class="glyphicon glyphicon-phone-alt"></span> Novo pedido externo
                    </button>
                </div>
                <div class="col-sm-3">
                    <span><input type="checkbox" id="checkAtualizacaoPeriodica" ng-model="acao.atualizacaoAutomatica" ng-change="checkAtualizacaoAutomatica()" />Atualização periódica automática</span>
                </div>
                <div class="col-sm-3">
                    <span><input type="checkbox" id="checkAlertaSonoro" ng-model="acao.alertaSonoro" />Alerta sonoro para novos pedidos</span>
                </div>
            </div>
            <div class="control-group">
                <label for="tempoMedioEspera" class="control-label">Espera (min)</label>
                <input type="number" step="1" min="20" max="180" required id="tempoMedioEspera" name="tempoMedioEspera" class="form-control" ng-model="tempoMedioEspera" maxlength="3" />
                <button type="button" class="btn btn-primary btn-sm" title="Alterar tempo de espera" ng-click="alteraTempoMedioEspera()">
                    <span class=" glyphicon glyphicon-ok" aria-hidden="true">
                    </span>
                </button>
                <div class="help-block with-errors"></div>
            </div>
            <div ng-if="pedidos.length == 0">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-success">
                            Nenhum pedido encontrado.
                        </h4>
                    </div>
                </div>
            </div>
            <div ng-if="pedidos.length > 0">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-left">
                                            Nº
                                        </th>
                                        <th class="text-left">
                                            Externo
                                        </th>
                                        <th class="text-left">
                                            Entregar
                                        </th>
                                        <th>
                                            Cliente
                                        </th>
                                        <th class="text-left">
                                            Data
                                        </th>
                                        <th>
                                            Tempo
                                        </th>
                                        <th class="text-left">
                                            Situação
                                        </th>
                                        <th class="text-right">
                                            Valor total
                                        </th>
                                        <th class="text-left">
                                            Forma pagamento
                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ped in pedidos">
                                        <td class="text-left">
                                            {{ped.codPedido}}
                                        </td>
                                        <td class="text-left">
                                            <span ng-if="ped.pedidoExterno">Sim</span>
                                            <span ng-if="!ped.pedidoExterno">Não</span>
                                        </td>
                                        <td class="text-left">
                                            <span ng-if="ped.retirarNaCasa">Não</span>
                                            <span ng-if="!ped.retirarNaCasa">Sim</span>
                                        </td>
                                        <td class="text-left">
                                            {{ped.dadosCliente.nome}}
                                        </td>
                                        <td class="text-left">
                                            {{ped.dataPedido | date:'dd/MM/yyyy HH:mm'}}
                                        </td>
                                        <td ng-class="ped.estiloLinhaPorTempo">
                                            <timer start-time="getTimeMs(ped.dataPedido)">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                                        </td>
                                        <td>
                                            {{ped.descricaoSituacao}}
                                        </td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-default btn-sm" title="Aplicar desconto" ng-click="descontoPedido(ped)">
                                                {{ped.valorTotal | currency: "R$ "}}
                                            </button>
                                        </td>
                                        <td class="text-left">
                                            {{ped.descricaoFormaPagamento}}
                                        </td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-default btn-sm" title="Visualizar detalhes" ng-click="visualizaPedido(ped)">
                                                <span class=" glyphicon glyphicon-list" aria-hidden="true">
                                                </span>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-default btn-sm" title="Reimprimir comanda e cupons de produção" ng-click="imprimePedido(ped)">
                                                <span class=" glyphicon glyphicon-print" aria-hidden="true">
                                                </span>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-default btn-sm" title="Alterar pedido" ng-click="alteraPedido(ped)">
                                                <span class=" glyphicon glyphicon-edit" aria-hidden="true">
                                                </span>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-danger btn-sm" title="Cancelar pedido" ng-click="cancelaPedido(ped)">
                                                <span class=" glyphicon glyphicon-remove" aria-hidden="true">
                                                </span>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <button type="button" ng-class="determinaEstiloBotao(ped, 'B')" title="Avançar status" ng-click="avancarPedido(ped)" ng-if="ped.situacao == 0 || ped.situacao == 1 || ped.situacao == 2 || ped.situacao == 3">
                                                <span ng-class="determinaEstiloBotao(ped, 'I')" aria-hidden="true">
                                                </span>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-default btn-sm" title="Finalizar" ng-click="finalizaPedido(ped)" ng-if="ped.situacao == 4">
                                                <span class=" glyphicon glyphicon-ok" aria-hidden="true">
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @*Pedido:
                <input type="text" ng-model="pedido.codPedido" /><br />
                Situação:
                <input type="text" ng-model="pedido.situacao" /><br />
                Usuário:
                <input type="text" ng-model="pedido.usuario" /><br />
                <input type="button" ng-click="sendMessage()" value="aaa" />*@
        </div>
        <div class="modal fade" id="modalDetalhesPedido" tabindex="-1" role="dialog" aria-labelledby="labelModalDetalhesPedido" style="overflow: scroll;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="labelModalDetalhesPedido">Detalhes do pedido</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("_CabecalhoPedido")<hr />
                        @Html.Partial("_ListaItensPedido")
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form role="form" id="formCancelamento" class="form-horizontal">
        <div class="modal fade" id="modalCancelamentoPedido" tabindex="-1" role="dialog" aria-labelledby="labelModaCancelamentoPedido" style="overflow: scroll;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="labelModaCancelamentoPedido">Cancelamento de pedido</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="text-primary">Confirma o cancelamento do pedido {{acao.pedidoSelecionado.codPedido}}?</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="taMotivoCancelamento" class="control-label">Motivo do cancelamento</label>
                                <input type="text" id="taMotivoCancelamento" required name="taMotivoCancelamento" class="form-control" ng-model="acao.pedidoSelecionado.motivoCancelamento" maxlength="500" />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" ng-click="executaCancelamentoPedido()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancelar o pedido
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form role="form" id="formDesconto" class="form-horizontal">
        <div class="modal fade" id="modalDescontoPedido" tabindex="-1" role="dialog" aria-labelledby="labelModaDescontoPedido" style="overflow: scroll;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="labelModaDescontoPedido">Conceder desconto</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="text-primary">Aplicar desconto ao pedido {{acao.pedidoSelecionado.codPedido}}?</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>Valor original: <span class="text-success">{{acao.pedidoSelecionado.valorTotal | currency: "R$ "}}</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>Valor c/ desconto: <span class="text-primary">{{acao.pedidoSelecionado.valorTotal - acao.pedidoSelecionado.valorDesconto | currency: "R$ "}}</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="valorDesconto">Desconto (R$)</label>
                                        <input type='text' name="valorDesconto" required data-valordesconto autocomplete="off" id="valorDesconto" format="number" class="form-control" ng-model="acao.pedidoSelecionado.valorDesconto" ng-blur="calculaDesconto('V')" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="percentualDesconto">Desconto (%)</label>
                                        <input type='text' name="percentualDesconto" required data-percentualdesconto autocomplete="off" id="percentualDesconto" format="number" class="form-control" ng-model="acao.pedidoSelecionado.percentualDesconto" ng-blur="calculaDesconto('P')" />
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="txtJustificativaDesconto" class="control-label">Justificativa do desconto</label>
                                <input type="text" id="txtJustificativaDesconto" required name="txtJustificativaDesconto" class="form-control" ng-model="acao.pedidoSelecionado.motivoDesconto" maxlength="500" />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-success" data-toggle="modal" ng-click="aplicaDescontoPedido()">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>Aplicar o desconto
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
