@using BrasaoHamburgueriaWeb.Repository;
<!DOCTYPE html>
@{
    var emManutencao = ParametroRepository.GetEmManutencao();
}
<html ng-app="brasaoWebApp">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106648768-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) };
        gtag('js', new Date());

        gtag('config', 'UA-106648768-1');
    </script>

    <meta name="viewport" content="width=device-width" />
    <title>Brasão Hamburgueria</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/angular-busy.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>*@
    <script src="~/Scripts/validator.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ngBootbox.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-busy.min.js"></script>
    <script src="~/bower_components/angular-timer/dist/assets/js/angular-timer-all.min.js"></script>
    <script src="~/app/util.js"></script>
    <script src="~/app/brasaoWebApp.js"></script>
</head>
<body>
    <div id="fb-root"></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (emManutencao == "S")
                    {
                        <li></li>
                    }
                    else
                    {
                        if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Início", "MenuPrincipal", "Home")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Início", "Index", "Home")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Brasão Hamburgueria</p>
        </footer>
    </div>
</body>
</html>
