@using BrasaoHamburgueria.Web.Repository;
@using Microsoft.AspNet.Identity
@using BrasaoHamburgueria.Model;
<!DOCTYPE html>
@{
    var emManutencao = ParametroRepository.GetEmManutencao();
    var casaAberta = ParametroRepository.CasaAberta();
}
<html ng-app="brasaoWebApp">
<head>
    <meta http-equiv="Cache-Control" content="max-age=86400" />
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106648768-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) };
        gtag('js', new Date());

        gtag('config', 'UA-106648768-1');
    </script>

    <meta name="viewport" content="width=device-width" />
    <title>Brasão Hamburgueria</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/angular-busy.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/bower_components/angular-auto-complete/angular-auto-complete.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/validator.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ngBootbox.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-busy.min.js"></script>
    <script src="~/bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="~/bower_components/angular-timer/dist/angular-timer.min.js"></script>
    <script src="~/Scripts/smart-table.min.js"></script>
    <script src="~/app/util.js"></script>
    <script src="~/Scripts/angular-file-upload.min.js"></script>
    <script src="~/bower_components/underscore/underscore-min.js"></script>
    <script src="~/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/bower_components/angular-auto-complete/angular-auto-complete.js"></script>
    <script src="~/bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <script src="~/app/brasaoWebApp.js"></script>
    <script src="~/app/NavbarForm/nbController.js"></script>
    @if (Request.IsAuthenticated)
    {
        <style>
            body {
                background-image: url('../../Content/img/background_logadoX.jpg');
                background-size: cover;
                background-attachment: fixed;
                background-repeat: no-repeat;
                height: 100%;
            }
        </style>
    }
    else
    {
        <style>
            body {
                background-image: url('../../Content/img/background_inicioX.jpg');
                background-size: cover;
                background-attachment: fixed;
                background-repeat: no-repeat;
                height: 100%;
            }
        </style>
    }
</head>
<body>
    <div id="fb-root"></div>
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="nbController" ng-init="init('@(casaAberta ? "S" : "N")')">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (!User.IsInRole(Constantes.ROLE_ADMIN))
                    {
                        <li>
                            <a class="navbar-brand" href="~/Home/MenuPrincipal">
                                <img alt="Brand" src="~/Content/img/logo.png" style="width: 40px; height: 40px; margin-top: -10px;">
                            </a>
                            @*@Html.ActionLink("Início", "MenuPrincipal", "Home")*@
                        </li>
                    }
                    <li>
                        @Html.ActionLink("Início", "MenuPrincipal", "Home")
                    </li>
                    @if (emManutencao == "S")
                    {
                        <li></li>
                    }
                    else
                    {
                        if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole(Constantes.ROLE_ADMIN))
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Consultas <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pedidos realizados", "PedidosRealizados", "Consultas")</li>
                                        @*<li role="separator" class="divider"></li>*@
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Integrações <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Tron Solution", "TronSolution", "Integracoes")</li>
                                        @*<li role="separator" class="divider"></li>*@
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Impressoras de produção", "ImpressoraProducao", "Cadastros")</li>
                                        <li>@Html.ActionLink("Observações de produção", "ObservacaoProducao", "Cadastros")</li>
                                        <li>@Html.ActionLink("Opções extras", "OpcaoExtra", "Cadastros")</li>
                                        <li role="separator" class="divider"></li>
                                        <li>@Html.ActionLink("Classes de cardápio", "ClasseItemCardapio", "Cadastros")</li>
                                        <li>@Html.ActionLink("Itens de cardápio", "ItemCardapio", "Cadastros")</li>
                                        <li>@Html.ActionLink("Associação observação x item", "ItemCardapioObservacaoProducao", "Cadastros")</li>
                                        <li>@Html.ActionLink("Associação opção extra x item", "ItemCardapioOpcaoExtra", "Cadastros")</li>
                                        <li role="separator" class="divider"></li>
                                        <li>@Html.ActionLink("Parâmetros de sistema", "ParametroSistema", "Cadastros")</li>
                                        <li role="separator" class="divider"></li>
                                        <li>@Html.ActionLink("Perfil de usuário", "PerfilUsuario", "Conta")</li>
                                        <li role="separator" class="divider"></li>
                                        <li>@Html.ActionLink("Programa de fidelidade", "CadastroProgramaFidelidade", "ProgramaFidelidade")</li>
                                    </ul>
                                </li>
                            }
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial", new { CasaAberta = casaAberta, EmManutencao = emManutencao })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>


    <footer class="nav-1 hidden-md hidden-lg nav-bottom text-center color-2 bg-1">
        <ul class="list-unstyled list-inline">
            <li class="col-xs-3">
                <a href="/" class="btn-4 text-lowercase"><i class="fa fa-home fa-2x" aria-hidden="true"></i><br>Início</a>
            </li>
            <li class="col-xs-3">
                <a href="/Institucional/Sobre" class="btn-4 text-lowercase"><i class="fa fa-info fa-2x" aria-hidden="true"></i><br>Sobre</a>

            </li>
            <li class="col-xs-3">
                <a href="/Cardapio/Listar" class="btn-4 text-lowercase"><i class="fa fa-cutlery fa-2x" aria-hidden="true"></i><br>Cardápio</a>
            </li>
            <li class="col-xs-3">
                <a href="/Institucional/HorarioFuncionamento" class="btn-4  text-lowercase"><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i><br>Funcionamento</a>
            </li>
        </ul>
    </footer>


    <footer class="nav-1 nav-bottom text-center hidden-xs hidden-sm" style="background-color: #D8C078;">


        <div class="row divTransparente">
            <div class="col-xs-4">
                <h5 class="text-uppercase">Entre em contato</h5>

                <p><i class="fa fa-phone" aria-hidden="true"></i> (32) 3421-7809 </p>

                <p> <a href="mailto:brasaohamburgueria@gmail.com" class="linkRodape"><i class="fa fa-envelope-o" aria-hidden="true"></i>brasaohamburgueria@gmail.com</a></p>
            </div>
            <div class="col-xs-4">
                <h5 class="text-uppercase">Localização</h5>
                <p><i class="fa fa-location-arrow" aria-hidden="true"></i> Av Astolfo Dutra, 535 - Centro - Cataguases - MG</p>
                <p>
                    <a href="http://www.facebook.com" target="_blank">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i> /brasaohamburgueria
                    </a>
                </p>
            </div>
            <div class="col-xs-4">
                <h5 class="text-uppercase">Informações</h5>
                <p class="bottom-15">
                    <a href="/Institucional/HorarioFuncionamento" class="linkRodape">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Horário de funcionamento
                    </a>
                </p>
                <p>
                    <a href="/Institucional/Sobre" class="linkRodape">
                        <i class="fa fa-info" aria-hidden="true"></i> Sobre a casa
                    </a>
                </p>

            </div>
        </div>




    </footer>

    <script>
        $(document).ready(function () {
            var currurl = window.location.pathname;
            //$('.active').removeClass('active');
            $('li:has(a[href="' + currurl + '"])').children('a').removeClass('btn-4-active');

            var val = $('footer li:has([href="' + currurl + '"])').children().addClass('btn-4-active');

            //if (isMobile()) {
            //    $('body').css('background-size', $(window).outerHeight() * 1.5 + 'px' + ' ' + $(window).outerHeight() + 'px');
            //} else {
            //    $('body').css('background-size', $(window).outerHeight() * 2.2 + 'px' + ' ' + $(window).outerHeight() * 1.2 + 'px');
            //}
        });
    </script>
</body>
</html>
