@using Microsoft.AspNet.Identity;
@using BrasaoHamburgueria.Web.Helpers;
@{
    ViewBag.Title = SessionData.LojaSelecionada.NomeFantasia + " - Cadastrar conta";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
@{
    var lojas = SessionData.Empresas;
    var codLojaSelecilnada = SessionData.CodLojaSelecionada;
    var jsonSettings = new Newtonsoft.Json.JsonSerializerSettings
    {
        ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver()
    };
}
<script src="~/app/CadastroUsuarioForm/cuController.js"></script>
<div ng-controller="cuController" ng-init="init('@User.Identity.GetUserName()', '@GetAntiForgeryToken()', '@ViewBag.Email', '@Newtonsoft.Json.JsonConvert.SerializeObject(lojas, jsonSettings)', @codLojaSelecilnada)">
    <h2 class="texto-branco">Cadastrar conta</h2>
    <div class="centro">
        <div cg-busy="{promise:promiseGetUsuario,backdrop:false,delay:10,minDuration:1000}"></div>
        <div cg-busy="{promise:promiseEmail,backdrop:false,delay:10,minDuration:1000}"></div>
        <div cg-busy="{promise:promiseCadastrar,backdrop:false,delay:10,minDuration:1000}"></div>
        @Html.Partial("~/Views/Shared/_MensagensInformativas.cshtml")
        <form role="form" id="formCadastro" class="form-horizontal" ng-submit="submitForm()">
            <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'" />
            <fieldset>
                <legend>Informações para login</legend>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">E-mail</label>
                    <div class="col-sm-10">
                        <input type="text" required id="email" name="email" class="form-control" ng-model="usuario.email" maxlength="50" data-email />
                        <div class="help-block with-errors"></div>
                        <div id="mensagemEmailJaUtilizado" class="alert alert-warning hidden" role="alert">O endereço EMAIL já está em utilização.</div>
                    </div>
                </div>
                <div id="divSenha">
                    <div class="form-group">
                        <label for="senha" class="col-sm-2 control-label">Senha</label>
                        <div class="col-sm-2">
                            <input type="password" autocomplete="off" id="senha" name="senha" class="form-control" maxlength="10" data-senha />
                            <small class="text-info">Máximo 10 caracteres</small>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmeSenha" class="col-sm-2 control-label">Confirme a senha</label>
                        <div class="col-sm-2">
                            <input type="password" autocomplete="off" id="confirmeSenha" name="confirmeSenha" class="form-control" max="10" data-confirmasenha />
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div id="divCheckMudarSenha" class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label class="control-label"><input type="checkbox" id="checkAlterarSenha" name="checkAlterarSenha" />Alterar senha</label>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div id="divMudarSenha">
                    <div class="form-group">
                        <label for="senhaAtual" class="col-sm-2 control-label">Senha atual</label>
                        <div class="col-sm-2">
                            <input type="password" autocomplete="off" id="senhaAtual" name="senhaAtual" class="form-control" maxlength="10" />
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="novaSenha" class="col-sm-2 control-label">Nova senha</label>
                        <div class="col-sm-2">
                            <input type="password" autocomplete="off" id="novaSenha" name="novaSenha" class="form-control" max="10" data-senha />
                            <small class="text-info">Máximo 10 caracteres</small>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmeNovaSenha" class="col-sm-2 control-label">Confirme a nova senha</label>
                        <div class="col-sm-2">
                            <input type="password" autocomplete="off" id="confirmeNovaSenha" name="confirmeNovaSenha" class="form-control" max="10" data-confirmanovasenha />
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Preferências</legend>
                <div class="form-group">
                    <label for="codEmpresa" class="col-sm-2 control-label">Loja preferencial</label>
                    <div class="col-md-5 col-xs-12">
                        <select name="codEmpresa" id="codEmpresa" class="form-control" ng-model="usuario.codEmpresaPreferencial">
                            <option ng-repeat="empresa in empresas" value="{{empresa.codEmpresa}}">{{empresa.nomeFantasia}}</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Dados pessoais</legend>
                <div class="form-group">
                    <label for="nome" class="col-sm-2 control-label">Nome completo</label>
                    <div class="col-sm-10">
                        <input type="text" required id="nome" name="nome" class="form-control" ng-model="usuario.nome" maxlength="80" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefone" class="col-sm-2 control-label">Telefone</label>
                    <div class="col-sm-4 col-md-3">
                        <input type="text" autocomplete="off" required id="telefone" name="telefone" class="form-control" ng-model="usuario.telefone" maxlength="15" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sexo" class="col-sm-2 control-label">Sexo</label>
                    <div class="col-sm-4 col-md-2">
                        <select name="sexo" required id="sexo" class="form-control" ng-model="usuario.sexo">
                            <option value="">(Selecione)</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="datetimepicker1" class="col-sm-2 control-label">Data nascimento</label>
                    <div class="col-sm-4 col-md-2">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' required class="form-control" maxlength="10" ng-model="usuario.dataNascimento" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <legend>Endereço</legend>

                <div class="form-group">
                    <label for="estado" class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-3 col-md-2">
                        <input type="text" readonly id="estado" name="estado" class="form-control" value="MG" ng-model="usuario.estado" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="cidade" class="col-sm-2 control-label">Cataguases</label>
                    <div class="col-sm-4 col-md-3">
                        <input type="text" readonly id="cidade" name="cidade" class="form-control" value="CATAGUASES" ng-model="usuario.cidade" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
                    <div class="col-sm-10">
                        <input type="text" required id="logradouro" name="logradouro" class="form-control" ng-model="usuario.logradouro" maxlength="100" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="numero" class="col-sm-2 control-label">Número</label>
                    <div class="col-sm-3 col-md-2">
                        <input type="text" required id="numero" name="numero" class="form-control" ng-model="usuario.numero" maxlength="10" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="complemento" class="col-sm-2 control-label">Complemento</label>
                    <div class="col-sm-6">
                        <input type="text" required id="complemento" name="complemento" class="form-control" ng-model="usuario.complemento" maxlength="50" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="bairro" class="col-sm-2 control-label">Bairro</label>
                    <div class="col-sm-6">
                        <input type="text" required id="bairro" name="bairro" class="form-control" ng-model="usuario.bairro" maxlength="50" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="referencia" class="col-sm-2 control-label">Referência</label>
                    <div class="col-sm-10">
                        <input type="text" required id="referencia" name="referencia" class="form-control" ng-model="usuario.referencia" maxlength="100" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

            </fieldset>

            <div class="form-group">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-10">
                    <input type="submit" id="btnEnviar" class="btn btn-primary" value="Enviar" />
                </div>
            </div>
        </form>
    </div>
</div>